/*  (-CSS reset- Credit: Josh Comeau ) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary: hsl(300, 43%, 22%);
  --secondary: hsl(333, 80%, 67%);

  --neutral-first: hsl(303, 10%, 53%);
  --neutral-second: hsl(300, 24%, 96%);
  --neutral-third: hsl(0, 0%, 100%);

  --ff-base: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.9375rem;
  color: var(--primary);
  background-color: var(--neutral-third);

  background-image: url(images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3.125rem;
}

.title {
  font-weight: var(--fw-bolder);
  text-align: center;
}

#description {
  color: var(--neutral-first);
  text-align: center;
  margin-top: 1.5625rem;
}

/* Ratings */

.ratings {
  margin: 1.5625rem 0;
}

#icon-star {
  display: flex;
  gap: 0.3125rem;
  margin-bottom: 0.625rem;
}

#rate {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--neutral-second);
  border-radius: 0.625rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

#rate p {
  color: var(--primary);
  font-weight: var(--fw-bolder);
}

/* Reviews */

.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

#card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.625rem;
  background-color: var(--primary);
  padding: 1.875rem;
}

#card-header {
  display: flex;
  gap: 0.9375rem;
}

#pfp {
  border-radius: 3.125rem;
  width: 3.125rem;
}

#reviewer-info {
  display: flex;
  flex-direction: column;
}

#name {
  color: var(--neutral-third);
  font-weight: var(--fw-bolder);
}

#verified {
  color: var(--secondary);
}

#review-paragraph {
  text-align: left;
  color: var(--neutral-third);
}

@media (min-width: 1440px) {
  body {
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    margin: 3.125rem;
  }

  .container {
    display: grid;
    gap: 2.125rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .title {
    text-align: left;
    font-size: 50px;
    line-height: 3.125rem;
  }

  #description {
    text-align: left;
  }

  .title, #description {
    margin-right: 200px;
  }

  .ratings {
    display: flex;
    flex-direction: column;
  }
  #rate {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
    padding: 0.75rem 2.5rem;
  }
  #icon-star {
    margin-bottom: 0;
  }
  #rate:nth-child(1) {
    align-self: flex-start;
  }
  #rate:nth-child(2) {
    align-self: center;
  }
  #rate:nth-child(3) {
    align-self: flex-end;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    height: 50%;
    margin-top: 5rem;
  }
  #card:nth-child(1) {
    align-self: flex-end;
  }
  #card:nth-child(2) {
    align-self: center;
  }
  #card:nth-child(3) {
    align-self: flex-start;
  }
}
